# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
temp/
.temp/

# Build output
dist/
build/

# IDE specific
.vscode/
.idea/

# File uploads
temp_uploads/
student_images/
